@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900");

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 65px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0 auto;
  margin-bottom: 14px;
  color: black;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 11px;
  color: black;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: black;
  padding: 0 30px;
}
